<!DOCTYPE html>
<html lang="en">
<head>
    <title>ICBC Learners Test!</title>
</head>
<body>
<h1><a href="https://onlinebusiness.icbc.com/qmaticwebbooking/#/">Book Online Now!</a></h1>
<div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
